<ion-header>



    <ion-toolbar color="secondary">



        <ion-buttons slot="start">
            <ion-button (click)="mostrarMenu()">
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>

            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-avatar>
                <ion-img src="/assets/icon/logo.jpeg"></ion-img>

            </ion-avatar>
        </ion-buttons>

        <ion-title text-center>Car-Service</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

    <ion-img position="floating" src="/assets/icon/inicio.png"></ion-img>





    <ion-card>

        <ion-card-header>


            <ion-card-title id="tituloinicial"> Nuestros Servicios </ion-card-title>

            <!--<ion-card-subtitle id="frase">QUEREMOS DIFERENCIARNOS CON UN SELLO ÚNICO</ion-card-subtitle>-->
        </ion-card-header>

        <ion-card-content id="parrafoinicio">
            <div>Nuestros mecánicos tienen amplia experiencia en todo tipo de reparaciones y mantenciones para todas las marcas.</div>

            <br>
            <img src="" alt="" loading="lazy" width="20px" height="20px" srcset="/assets/icon/check.png"> Mantenciones de Kilometraje
            <br>
            <img src="" alt="" loading="lazy" width="20px" height="20px" srcset="/assets/icon/check.png"> Cambios de aceite y Lubricación
            <br>
            <img src="" alt="" loading="lazy" width="20px" height="20px" srcset="/assets/icon/check.png"> Pintura y Desabolladura
            <br>
            <img src="" alt="" loading="lazy" width="20px" height="20px" srcset="/assets/icon/check.png"> Servicios Extras (Revisión Técnica, Otros)
            <br>
            <img src="" alt="" loading="lazy" width="20px" height="20px" srcset="/assets/icon/check.png"> Neumáticos y Venta de Accesorios
            <br>
            <img src="" alt="" loading="lazy" width="20px" height="20px" srcset="/assets/icon/check.png"> Cerrajería (Alzavidrios, Chapas, Cremalleras)
            <br>
            <img src="" alt="" loading="lazy" width="20px" height="20px" srcset="/assets/icon/check.png"> Tren Delantero y Suspensión
        </ion-card-content>
    </ion-card>





    <ion-list>
        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirecTo" detail="true">
            <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
            {{c.name}}
        </ion-item>
    </ion-list>


    <div id="footer">
        <a href="https://www.whatsapp.com" target="_blank">
            <ion-icon style="font-size: 24px;" color="success" name="logo-whatsapp"></ion-icon>
        </a>
        <a href="https://twitter.com" target="_blank">
            <ion-icon style="font-size: 24px;" color="secondary" name="logo-twitter"></ion-icon>
        </a>
        <a href="https://es-la.facebook.com" target="_blank">
            <ion-icon style="font-size: 24px;" color="secondary" name="logo-facebook"></ion-icon>
        </a>
        <a href="https://www.youtube.com" target="_blank">
            <ion-icon style="font-size: 24px;" color="tertiary" name="logo-youtube"></ion-icon>
        </a>

    </div>




</ion-content>