ion-content {
    background: aqua;
}

ion-card {
    background: rgb(247, 248, 250);
}

#tituloinicial {
    text-align: center;
    color: rgb(15, 15, 15);
    font-size: 20;
}

#frase {
    color: rgb(56, 56, 59);
}

#parrafoinicio {
    text-align: left;
    color: rgb(56, 56, 59);
    font-size: 15px;
}

#footer {
    text-align: center;
}