<ion-header>

    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="" color="primary" mode="ios"></ion-back-button>
        </ion-buttons>
        <ion-title text-center>Cómo Funciona</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


    <ion-card>



        <ion-card-content id="presentacion">

            <ion-card-title id="titulocomo">¿Cómo funcionan nuestros servicios?</ion-card-title>
            <br> Hacemos las mejores experiencias para nuestros Clientes.

            <br>
            <div>
                <ion-card href="Agregar-servicio">
                    <ion-img hr src="/assets/icon/Agendar.png"></ion-img>
                </ion-card>



            </div>

        </ion-card-content>
    </ion-card>





    <ion-list>
        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirecTo" detail="true">
            <ion-icon [name]="c.icon" slot="start" color="secundary"></ion-icon>
            {{c.name}}
        </ion-item>
    </ion-list>



    <div id="footer">
        <a href="https://www.whatsapp.com" target="_blank">
            <ion-icon style="font-size: 24px;" color="success" name="logo-whatsapp"></ion-icon>
        </a>
        <a href="https://twitter.com" target="_blank">
            <ion-icon style="font-size: 24px;" color="secondary" name="logo-twitter"></ion-icon>
        </a>
        <a href="https://es-la.facebook.com" target="_blank">
            <ion-icon style="font-size: 24px;" color="secondary" name="logo-facebook"></ion-icon>
        </a>
        <a href="https://www.youtube.com" target="_blank">
            <ion-icon style="font-size: 24px;" color="tertiary" name="logo-youtube"></ion-icon>
        </a>

    </div>






    <!--
   <ion-button routerLink="/alert">Alert</ion-button>
   <ion-button routerLink="/action-sheet">Action Sheet</ion-button>-->


</ion-content>